.flight {
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(42, 122, 193);
  color: #fff;
  padding: 5px 10px;
}

.banner img {
  width: 100px;
  padding: 5px;
  user-select: none;
}

.priceWrap {
  text-align: right;
}

.price {
  font-size: 24px;
}

.legs {
  display: flex;
  flex-direction: column;
}
